@import "../../global.scss";

.social {
  background-color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 50px;
    position: absolute;
    top: 10px;

    @include mobile {
      font-size: 20px;
    }
  }

  .container {
    padding: 0;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .item {
      display: flex;
      padding: 20px 30px;
      border-radius: 20px;
      color: white;
      margin: 5px 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        transition: all 1s ease;

        &:hover {
          transform: scale(1.1);
        }

        img {
          height: 80px;
          padding: 0 20px;
        }

        h2 {
          font-weight: 500;
          font-size: 35px;
        }

        span {
          font-weight: 300;
          font-size: 14px;
          font-style: italic;
        }
      }
    }
  }
}
